body,
button,
input,
select,
textarea {
        color: #6f6f6f;
        font-family: "Open Sans";
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";