/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 15, 2017, 1:32:14 PM
    Author     : shaobo.gu
*/

@import "header";

@import "sidebar";

@import "footer";

@import "content";

.site-content {
    margin: 40px 50px;
    display: flex;
}